

body {
  font-family: Arial;
  background-color: #ccc; 
  margin: 30px;
}

h1 {
  color:blue; 
  text-align: center;
}

p {

  text-align: justify;
  margin: 10px;
  font-size: 20px;
}

ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

img {
  display: block;
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin: 30px auto;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: gray;
}

table img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

table td {
  padding: 5px;
  text-align: center;
  border: 2px solid #ccc;
}


a:hover {
  color: #ff4500;
}

a {
  display: block;
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
  color: #1e90ff;
  text-decoration: none;

}



